<html ng-app="parkingApp">
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="js/app.js"></script>
	</head>

	<body ng-controller="ParkingCtrl">
		
		<button id="generateParking" ng-hide="places.length" ng-click="generatePlaces()">Generate parking</button>

		<div class="parking" ng-controller="PlaceCtrl">		
			<parking-place ng-repeat="place in places"></parking-place>
		</div>
	</body>
</html>