div.parkingPlace {
	float: left;
	display: inline-block;
	border: 2px solid black;
	margin: 5px;
	padding: 5px 20px;
	width: 150px;
	height: 250px;
}
div.parkingPlace.regular {
	background: green;
}
div.parkingPlace.truck {
	background: blue;
}
div.parkingPlace.disabled {
	background: orange;
}
div.car {
	position: relative;
	margin: auto;
	border: 1px solid black;
	width: 75px;
	height: 150px;
}
div.car.regular {
	background: white;
}
div.car.truck {
	background: yellow;
}
div.car.disabled {
	background: red;
}