<div class="parkingPlace" ng-class="place.type">
	<div ng-hide="place.car">
		<button class="parkRegular" ng-click="parkCar(place, 'regular')" ng-show="showParkOption(place.type, 'regular')">Park regular</button>
		<button class="parkTruck" ng-click="parkCar(place, 'truck')" ng-show="showParkOption(place.type, 'truck')">Park truck</button>
		<button class="parkDisabled" ng-click="parkCar(place, 'disabled')" ng-show="showParkOption(place.type, 'disabled')">Park disabled</button>
	</div>
	<button ng-show="place.car" ng-click="removeCar(place)">Remove car</button>
	<span>{{place.type + " place"}}</span>
	
	<div class="car" ng-class="place.car.type" ng-if="place.car">
		<span>{{place.car.type + " car"}}</span>
	</div>
</div>